################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleEncode/v16
/ConsoleEncode/bin/Debug
/ConsoleEncode/obj/Debug
/ConsoleEncode/Properties
